.img-container{
    display: flex;
    width: 490px;
    height: 490px;
    margin: auto 0;
}

.about{
    position: relative;
    padding: 0;
    padding-top: 2rem;
}

.about-container{
    gap: 2rem;
    margin-bottom: 1.4rem;
    margin-top: 2rem;
}

.title2{
    align-items: center;
    text-align: center;
}

.icon{
    width: 35px;
    height: 35px;
}

.section-container{
    gap: 64px;
    height: 80%;
}


.about-detail-container, .about-container {
    display: flex;
}

.about-detail-container{
    justify-content: center;
    flex-direction: column;
    margin-bottom: 3rem;
}

.detail-container{
    padding: 1.5rem;
    flex: 1;
    border: rgb(53, 53, 53) 0.1rem solid;
    border-radius: 20px;
    text-align: center;
}


.check-mark{
    width: 1.5rem;
    height: 1.5rem;
}

.skill-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.article-container{
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: initial;
    gap: 2.5rem;
}

article{
    display: flex;
    gap: 1rem;
}